#root {
  margin: 0 auto;
  max-width: 1440px;
  font-family: Inter;
}

.nav {
  display: flex;
  justify-content: space-between;
  place-items: center;
}

.post-details {
  margin-top: 2rem;
  border: solid 0.5px rgb(201, 201, 201);
  border-radius: 5px;
  padding: 1rem;
  width: 50%;
}

.post-title {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}

.post-username{
  font-size: 12px;
  color: rgb(148, 148, 148);
  margin: 0;
}

.post-content {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

.post-date {
  font-size: 12px;
  color: rgb(148, 148, 148);
  margin: 0;
}

.login-form {
  margin-left: 25%;
  margin-right: 25%;
  align-items: center;
}

.login-form div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.login-form button {
  margin-top: 10px;
}