#root {
  margin: 0 auto;
  max-width: 1440px;
  font-family: Inter;
}

.home {
  display: flex;
  gap: 10%;
}

.nav {
  display: flex;
  justify-content: space-between;
  place-items: center;
}

.post-form-container {
  width: 40%;
}

.post-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.post-form-title {
  padding-top: 5px ;
  padding-bottom: 5px ;
  padding-left: 10px;
  text-align: start;
  border: solid 0.5px rgb(201, 201, 201);
  border-radius: 5px;
}

.post-form-content {
  padding-top: 5px ;
  padding-bottom: 50px ;
  padding-left: 10px;
  border: solid 0.5px rgb(201, 201, 201);
  border-radius: 5px;
}

.post-details-container {
  width: 100%;
}

.post-details {
  margin-bottom: 2rem;
  border: solid 0.5px rgb(201, 201, 201);
  border-radius: 5px;
  padding: 1rem;
  width: 70%;
}

.post-title {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}

.post-username{
  font-size: 12px;
  color: rgb(148, 148, 148);
  margin: 0;
}

.post-content {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

.post-date {
  font-size: 12px;
  color: rgb(148, 148, 148);
  margin: 0;
}

.login-form {
  margin-left: 25%;
  margin-right: 25%;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-link-container {
  text-decoration: none;
  color: black;
  place-items: center;
}

.login-link {
  border: solid 1px black;
  border-radius: 10px;
  padding: 0.5rem;
}

.login-link:hover {
  padding: 0.6rem;
}

.signup-link {
  border: solid 1px black;
  border-radius: 10px;
  padding: 0.5rem;
}

.signup-link:hover {
  padding: 0.6rem;
}

.login-form div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.login-form button {
  margin-top: 10px;
}

.signup-form {
  margin-left: 25%;
  margin-right: 25%;
  align-items: center;
}

.signup-form div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.signup-form button {
  margin-top: 10px;
}